﻿
@media(max-width: 575px){
    .footer ul.social{
        justify-content: center;
        margin-top: 10px;
    }
} 

@media(max-width: 767px){
    .menu-toggle{
        display: block !important;
    }
    .page-main .content{
        .box-text{
            height: 380px;
        }
        .box-img{
            height: 380px;
        }
    }
    .banner-page .text{
        font-size: 24px;
    }
    .banner-page .imgc:before{height: 165px;}
    .header-top .nav-menu{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
        transition: all .3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);
        &.active{
            transform: translateY(0);
            visibility: visible;
            opacity: 1 ;
        }
        >li{
            position: relative;
            &:hover{
                >ul{
                    display: none;
                }
            }
            i{
                font-size: 24px;
            }
            i.fa-angle-down{
                display: block !important;
                position: absolute;
                right: 0;
                top: 0;
                height: 39px;
                width: 39px;
                font-size: 16px;
                line-height: 39px;
                text-align:center;
            }
            width: 100%;
            border-top: 1px solid #eaeaea !important;
            >a{
                padding: 10px 15px;
                border: none !important;
                display: block;
            }
            >ul{
                position: static;
                display: block;
                padding: 0;
                left: 0;
                transform: none;
                display: none;
                &.active{display: block;}
                >li{
                    >a{
                         padding: 10px 15px;
                         border-top: none !important;
                         padding-left: 30px;
                    }
                }
            }
        }
    }
    .header-top .row-master{
        height: 70px;
        min-height: 70px;
    }
}

@media(max-width: 991px) and (min-width: 768px){
    .page-main .content{
        .box-text{
            height: 380px;
        }
        .box-img{
            height: 380px;
        }
    }
}