﻿/*#region Roboto */
@font-face {
	font-family: 'RobotoR';
	src: url('../fonts/roboto/Roboto-Regular.ttf'), url('../fonts/roboto/Roboto-Regular.woff');
}

@font-face
{
    font-family: 'RobotoB';
    src: url('../fonts/roboto/Roboto-Bold.ttf'), url('../fonts/roboto/Roboto-Bold.woff');
}

@font-face
{
    font-family: 'RobotoL';
    src: url('../fonts/roboto/Roboto-Light.ttf'), url('../fonts/roboto/Roboto-Light.woff');
}

@font-face
{
    font-family: 'RobotoT';
    src: url('../fonts/roboto/Roboto-Thin.ttf'), url('../fonts/roboto/Roboto-Thin.woff');
}

@font-face
{
    font-family: 'RobotoM';
    src: url('../fonts/roboto/Roboto-Medium.ttf'), url('../fonts/roboto/Roboto-Medium.woff');
}
/*#endregion */