﻿@import "mixin";
@import "common";
@import "grid";
@import "font-face";


$color: #252160;
$color-2: #25aae1;
$font-fam: 'RobotoR';
$font-fam-1: 'RobotoB';

*,*::after,*::before{box-sizing: border-box;}
a{color: #333;text-decoration: none;display: inline-block;&:hover{text-decoration: none}}
body{color: #333;font-family: $font-fam;font-size: 15px;background-color: #fff;}
.reset-tag{line-height: initial;font-weight: initial;margin: 0;padding: 0;font-size: initial;outline: 0;list-style-type: none;border: 0;}
.imgc{display: block;position: relative;overflow: hidden;z-index: 1;&:before{content: '';display: block;padding-bottom: 100%}img{position: absolute;z-index: 1;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;}}
.imgc0{display: block;position: relative;overflow: hidden;z-index: 1;&:before{content: '';display: block;padding-bottom: 100%}img{position: absolute;z-index: 1;top: 0;left: 0;width: 100%;height: 100%;object-fit: scale-down;}}
/*****************/


/*header*/
.header-top{
    position: relative;
    z-index: 2;
    background: #fff;
    .row-master{
        min-height: 90px;
        justify-content: space-between;
    }
    .logo{
        display: flex;
        align-items: center;
        padding: 0 15px;
        img{
            max-height: 25px;
        }
    }
    .nav-menu{
        display: flex;
        align-items: center;
        background: #fff;
        padding: 0 15px;
        >li{
            margin: 0 2px;
            position: relative;
            &:hover{
                >ul{
                    display: block;
                }
            }
            &.active, &:hover{
                >a{border-top-color:  #000;color: #000}
            }
            a{
                font-size: 16px;
                color: #858585;
                padding: 12px 20px;
                position: relative;
                border-top: 3px solid transparent;
            }
            &:last-child{
                a{color: #000; border-top: none; font-size: 26px;}
            }
            >ul{
                position: absolute;
                top: 100%;
                padding-top: 20px;
                left: 50%;
                transform: translateX(-50%);
                background: #fff;
                display: none;
                li a{white-space: nowrap}
                >li{
                    &.active, &:hover{
                        >a{border-top-color:  #000;color: #000}
                    }
                }
            }
        }
    }
}

/*banner-page*/
.banner-page{
    .imgc:before{
        padding-bottom:32%;
    }
    .text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        font-size: 50px;
        color: #fff;
        font-family: $font-fam-1;
        text-shadow:rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
    }
}

.page-main{
    padding: 20px 0;
    .menu-category{
        display: flex;
        flex-wrap: wrap;
        li{
            padding: 8px 30px;
            &:first-child{padding-left: 0;}
            &:hover, &.active{
                a{color: $color-2}
            }
            a{
                font-size: 20px;
                color: #333;
                text-transform: uppercase;
            }
        }
    }
    .content{
        padding-top: 20px;
        .box-img{
            height: 480px;
            position: relative;
            &:hover:after{
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }
            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                transition: all .3s ease-in-out;
                opacity: 0;
                visibility: hidden;
                transform: scale(0.8);
                background: rgba(0,0,0,0.4);
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .box-text{
            background: #D0D0D0;
            height: 480px;
            padding: 30px;
            h3{
                font-size: 25px;
                color: $color;
                margin-bottom: 15px;
            }
            .desc{
                font-size: 17px;
                line-height: 26px;
                padding-bottom: 20px;
                border-bottom: 1px solid #DCDCDC;
            }
            .view-more{
                margin-top: 20px;
                a{
                    display: inline-block;
                    color: $color;
                    font-size: 17px;
                    &:hover{
                        color: $color-2;
                    }
                }
            }
        }
        .item{
            margin-top: 30px;
            position: relative;
            &:hover{
                .item-img .imgc:after{
                     opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
            }
            .item-img{
                .imgc{
                    &:before{
                        padding-bottom: calc(265/305*100%);
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        transition: all .3s ease-in-out;
                        opacity: 0;
                        visibility: hidden;
                        transform: scale(0.8);
                        background: rgba(0,0,0,0.4);
                    }
                }
            }
            .item-body{
                padding: 7px 10px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                background: rgba(255,255,255,0.7);
                h3 a{
                    display: block;
                    text-align: center;
                    font-size: 16px;
                    line-height: 20px;
                    font-family: $font-fam-1;
                    &:hover{
                        color: $color-2;
                    }
                }
                .view-more{
                    margin-top: 7px;
                    text-align: right;
                    a{
                        color:  $color;
                        display: inline-block;
                        font-family: $font-fam-1;
                        &:hover{color: $color-2;}
                    }
                }
            }
        }
    }
    .box-item-x{
        margin-top: 30px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        &:hover{
        .item-img{
            .imgc{
                &:after{
                    left: 130%;
                    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                }
                img{
                    transform: scale(1.15);
                }
            }
        }
    }
    .item-img{
        .imgc{
            position: relative;
            overflow: hidden;
            img{
                transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            }
            &:before{
                padding-bottom: 70%;
            }
            &:after{
                content: '';
                position: absolute;
                top: -70px;
                left: -150px;
                width: 50px;
                height: 400px;
                background: #fff;
                opacity: .2;
                z-index: 1;
                transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                transform: rotate(35deg);
            }
        }
    }
    .item-body{
        padding: 10px 15px;
        a{
            font-size: 18px;
            text-transform: uppercase;
            display: inline-block;
            font-family: $font-fam-1;
            color: $color;
            margin-bottom: 7px;
            line-height: 24px;
            height: 24px;
            overflow: hidden;
            &:hover{
                color: $color-2;
            }
        }
        .text{
            font-size: 16px;
            line-height: 22px;
            height: 88px;
            overflow: hidden;
        }
    }
    }
}

.footer{
    background: #000;
    margin-top: 50px;
    color: #fff;
    padding: 20px 0;
    ul.social{
        display: flex;
        justify-content: flex-end;
        a{
            color: #000;
            display: inline-block;
            margin: 0 5px;
            width: 25px;
            height: 25px;
            background: #fff;
            border-radius: 50%;
            line-height: 25px;
            text-align: center;
            &:hover{
                color: #fff;
                background: $color-2;
            }
        }
    }
}

.menu-toggle {
    display: none;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer; 
    &.on{
        .one {
            transform: rotate(45deg) translate(6px, 8px);   
        }
        .two {
            opacity: 0;
        }
        .three {
            transform: rotate(-45deg) translate(4px, -8px); }
    }
    .one,.two,.three {
        width: 100%;
        height: 3px;
        background: #000;
        margin: 6px auto;
        backface-visibility: hidden;
        transition: 0.3s; 
    }
}
.bg-black{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all .3s ease;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    &.active{
        opacity: 1;
        visibility: visible;
    }
}






@import "responsive";